html{
	width: 100%;
	height: 100%;
	overflow: scroll;
	font-size: 62.5%;

}

body, div, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, iframe, input, textarea, select, label, article, aside, footer, header, menu, nav, section, time, audio, video{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Microsoft Yahei;
}

.panel{
	margin-top: 100px;
}

.vote{
	float: right;
}
